{% extends "admin/change_list.html" %}
{% load static %}

<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script type="text/javascript">
    const allChartData = {{ all_chart_data | safe }};
    const chartData = {{ chart_data | safe }};
</script>
{% endblock %}

{% block content %}
<!-- Render our chart -->
<div style="height: 200px; margin-bottom: 50px;">
    <canvas style="height: 200px; width: 100%;" id="myChart"></canvas>
</div>
{{ block.super }}
<!-- Render the rest of the ChangeList view -->

<script src="{% static 'javascript/event_submission_chart.js' %}" type="text/javascript"></script>

{% endblock %}